
<nav id="right_navbar" class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul id="sidebar_items" class="nav flex-column"  style="text-align:right;">
            <li class="nav-item li-border">
                <a class="nav-link active" href="#">
                    <span class="icon"><i class="fa fa-dashboard"></i>&#160;&#160;</span>
                    داشبورد
                </a>
            </li>
            <li class="nav-item li-border">
                <a class="nav-link" href="javascript:void(0);" onclick="get_section('list');">
                    <span class="icon"><i class="fa fa-list-ul"></i>&#160;&#160;</span>
                    لیست فاکتور ها
                </a>
            </li>
            <li class="nav-item li-border">
                <a class="nav-link" href="javascript:void(0);" onclick="get_section('add');">
                    <span class="icon"><i class="fa fa-plus"></i>&#160;&#160;</span>
                    افزودن فاکتور
                </a>
            </li>
        </ul>
    </div>
</nav>
